$buttonHeight: $defaultUnit * 5;
$buttonMinWidth: $defaultUnit * 8;

.button {
    @include boxSizing;
    @include button;
    display: inline-flex;
    height: $buttonHeight;
    line-height: $buttonHeight;
    min-width: $buttonMinWidth;
    padding: 0 ($buttonMinWidth - $buttonHeight);
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: $buttonHeight / 2;
    align-items: center;
    cursor: pointer;

    &:hover,
    &:active,
    &.enabled {
        text-decoration: none;
    }

    &:not(:first-child) {
        &.pull-right {
            margin: ($defaultUnit * 2) 0 ($defaultUnit * 2) ($defaultUnit * 2);
        }
    }

    &:not(:last-child) {
        &:not(.pull-right) {
            margin: ($defaultUnit * 2) ($defaultUnit * 2) ($defaultUnit * 2) 0;
        }
    }
}

.button--withIcon {
    .button__text {
        padding-left: ($buttonHeight * 0.75) + $defaultUnit;
    }
}

.button__icon {
    position: absolute;
    width: $buttonHeight * 0.75;
    height: $buttonHeight * 0.75;
    fill: $white;
}

.button--disabled {
    border: 1px solid $grey-300;
    color: $grey-800;
    background-color: $grey-300;

    &:hover {
        background: $grey-300;
        cursor: not-allowed;
        text-decoration: none;
    }
}
